# 环境配置示例

# 服务端口
PORT=3000

# 数据库配置
# 数据库类型
DB_TYPE=mysql
# 数据库主机
DB_HOST=localhost
# 数据库端口
DB_PORT=3306
# 数据库用户名
DB_USERNAME=
# 数据库密码
DB_PASSWORD=
# 数据库名称
DB_DATABASE=
# 是否自动同步数据库结构
DB_SYNCHRONIZE=true
# 是否在终端打印数据库日志
DB_LOGGING=false

# 邮箱配置
# 发送邮件的邮箱账号
EMAIL_USER=
# 发送邮件的邮箱密码
EMAIL_PASS=
# 发送邮件的邮箱显示名称
EMAIL_FROM=

# Redis 配置
# Redis 主机
REDIS_HOST=localhost
# Redis 端口
REDIS_PORT=6379
# Redis 密码
REDIS_PASSWORD=
# Redis 数据库
REDIS_DB=0

# JWT 配置
# Access Token 密钥
JWT_ACCESS_SECRET=
# Access Token 过期时间
JWT_ACCESS_EXPIRES_IN=30m
# Refresh Token 密钥
JWT_REFRESH_SECRET=
# Refresh Token 过期时间
JWT_REFRESH_EXPIRES_IN=7d

# ==================== 文件存储配置 ====================
# 应用URL（用于本地存储生成访问URL，这个只是开发环境用，生产环境需要配置为S3_ENDPOINT、S3_PUBLIC_URL）
APP_URL=http://localhost:3000
# 最大文件大小（字节，默认3MB）
MAX_FILE_SIZE=3145728
# S3 存储桶名称（必填）
S3_BUCKET_NAME=
# AWS 区域（默认 us-east-1）
AWS_REGION=
# AWS 访问密钥（必填）
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# 后端内网访问
S3_ENDPOINT=
# 前端公网访问 （如果没有CDN、反向代理等需求，可以和S3_ENDPOINT一样，否则配置 CDN 域名）
S3_PUBLIC_URL=
