# 开发环境配置
PORT=3000

# 数据库类型
DB_TYPE=mysql
# 数据库主机
DB_HOST=localhost
# 数据库端口
DB_PORT=3306
# 数据库用户名
DB_USERNAME=root
# 数据库密码
DB_PASSWORD=
# 数据库名称
DB_DATABASE=personal-blog
# 是否自动同步数据库结构 （生产环境建议关闭）
DB_SYNCHRONIZE=true
# 是否在终端打印数据库日志
DB_LOGGING=false

# 邮箱类型
EMAIL_SERVICE=qq
# SMTP主机地址
EMAIL_HOST=smtp.qq.com
# SMTP端口号
EMAIL_PORT=465
# 发送邮件的邮箱账号
EMAIL_USER=3110869503@qq.com
# 发送邮件的邮箱密钥
EMAIL_PASS=xxxxxxx
# 发送邮件的邮箱显示名称
EMAIL_FROM=xxx<xxxxxxx@qq.com>

# 缓存存储类型：memory（内存缓存）或 redis（Redis缓存），如果使用memory下面可忽略
CACHE_STORE=memory
# Redis 主机地址
REDIS_HOST=127.0.0.1
# Redis 端口号
REDIS_PORT=6379
# Redis 密码
REDIS_PASSWORD=
# Redis 数据库索引
REDIS_DB=1

# Access Token 密钥
JWT_ACCESS_SECRET=yee-blog-access-secret-dev-2024
# Access Token 过期时间
JWT_ACCESS_EXPIRES_IN=30m
# Refresh Token 密钥
JWT_REFRESH_SECRET=yee-blog-refresh-secret-dev-2024
# Refresh Token 过期时间
JWT_REFRESH_EXPIRES_IN=7d

# 应用URL（用于本地存储生成访问URL，这个只是开发环境用，生产环境需要配置为S3_ENDPOINT、S3_PUBLIC_URL）
APP_URL=http://localhost:3000
# 最大文件大小（字节，默认3MB）
MAX_FILE_SIZE=3145728
# S3 存储桶名称（必填）
S3_BUCKET_NAME=my-bucket
# AWS 区域 新加坡
AWS_REGION=ap-southeast-1
# AWS 访问密钥（必填）
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
# 后端内网访问
S3_ENDPOINT=object-storage.objectstorage-system.svc.cluster.local
# 前端公网访问 （如果没有CDN、反向代理等需求，可以和S3_ENDPOINT一样，否则配置 CDN 域名）
S3_PUBLIC_URL=objectstorageapi.ap-southeast-1.clawcloudrun.com